.pagination {
    width: 80%;
    margin:  0 auto;
    overflow: scroll;
}

.pagination ul{
    list-style: none;
    display: flex;
}


.pagination ul li{
   padding: 0 10px;
}

.pagination ul li a{
    text-decoration: none;
    color: #000;
}
.active a,
.active{
    background: #d35400;
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
}